<a href="https://colab.research.google.com/github/slyofzero/RegEx/blob/main/Character_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing all the neccessary modules and creating the text.
import re
import string

text = '''Mr. David Dogwarts
9009009000
http://david.dogwarts@idk.com

Mrs Hannah Dogwarts
800-800-8000
https://Hannah.dogwarts@gmail.com

Ms. Sarah Dogwarts
700.700.7000
https://sarah.dogwarts@yahoo.com

Mr Dog Dogwarts
200.200.2000
http://dawg@gmail.com'''

In [2]:
#To get both David, Dogwarts, and Dog.
pattern = re.compile(r"D[ao]")
list(pattern.finditer(text))

[<re.Match object; span=(4, 6), match='Da'>,
 <re.Match object; span=(10, 12), match='Do'>,
 <re.Match object; span=(72, 74), match='Do'>,
 <re.Match object; span=(139, 141), match='Do'>,
 <re.Match object; span=(198, 200), match='Do'>,
 <re.Match object; span=(202, 204), match='Do'>]

Here using a character set, we are able to get both David, Dogwarts and Dog. It first checked for all occurences of "D" and then checked for all occurences of either a or o after it.

In [3]:
#To get both David, Dogwarts, and Dog.
pattern = re.compile(r"[A-Z][a-z]")
list(pattern.finditer(text))

[<re.Match object; span=(0, 2), match='Mr'>,
 <re.Match object; span=(4, 6), match='Da'>,
 <re.Match object; span=(10, 12), match='Do'>,
 <re.Match object; span=(61, 63), match='Mr'>,
 <re.Match object; span=(65, 67), match='Ha'>,
 <re.Match object; span=(72, 74), match='Do'>,
 <re.Match object; span=(102, 104), match='Ha'>,
 <re.Match object; span=(129, 131), match='Ms'>,
 <re.Match object; span=(133, 135), match='Sa'>,
 <re.Match object; span=(139, 141), match='Do'>,
 <re.Match object; span=(195, 197), match='Mr'>,
 <re.Match object; span=(198, 200), match='Do'>,
 <re.Match object; span=(202, 204), match='Do'>]

Here I use ranges inside a character set to firstly identify all uppercase letters that have a lowercase letter right after them.